.about__wrapper {
  position: relative;
  width: 320px;
  padding: 0 1px;
  margin: 0 auto;
}

.about__title {
  padding-top: 48px;
  margin-left: 28px;
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.9231rem;
  line-height: 1.2;
}

.about__list {
  .reset-list();
  margin-bottom: 55px;
}

.about__item {
  margin-top: 32px;
  margin-left: 30px;
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.3077rem;
  line-height: 1.18;
  background-repeat: no-repeat;
  overflow-wrap: anywhere;
}

.about__item--eco::before {
  content: "";
  display: block;
  width: 32px;
  height: 41px;
  margin-left: 8px;
  padding-bottom: 13px;
  background: no-repeat url("../img/icon-feature-flower.svg");
}

.about__item--style::before {
  content: "";
  display: block;
  width: 47px;
  height: 27px;
  margin-top: -2px;
  padding-bottom: 26px;
  background: no-repeat url("../img/icon-feature-money.svg");
}

.about__item--likes::before {
  content: "";
  display: block;
  width: 34px;
  height: 27px;
  margin-top: 35px;
  margin-left: 8px;
  padding-bottom: 21px;
  background: no-repeat url("../img/icon-feature-heart.svg");
}

.about__item--love::before {
  content: "";
  display: block;
  width: 35px;
  height: 34px;
  margin-top: 32px;
  margin-left: 3px;
  padding-bottom: 17px;
  background: no-repeat url("../img/icon-feature-ball.svg");
}

.about__item--home::before {
  content: "";
  display: block;
  width: 55px;
  height: 23px;
  margin-top: 33px;
  margin-left: -6px;
  padding-bottom: 27px;
  background: no-repeat url("../img/icon-feature-rocket.svg");
}

.about__item--gift::before {
  content: "";
  display: block;
  width: 33px;
  height: 32px;
  margin-top: 31px;
  margin-left: 3px;
  padding-bottom: 19px;
  background: no-repeat url("../img/icon-feature-gift.svg");
}

@media (min-width: @tablet-width) {
  .about__wrapper {
    width: 744px;
    padding: 0 12px;
  }

  .about__title {
    padding-top: 43px;
    margin-left: 33px;
    font-size: 3.3077rem;
    line-height: 1.16;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 630px;
    margin-top: -10px;
    margin-bottom: 58px;
    margin-left: 39px;
    padding-top: 25px;
  }

  .about__item {
    width: 294px;
    min-height: 98px;
    margin: 0;
    padding: 0 0 58px;
    font-weight: bold;
    font-size: 1.5385rem;
    line-height: 1.1;

    &--eco {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--love {
      order: 2;
    }

    &--home {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }

  .about__item--eco::before {
    margin-top: 0;
  }

  .about__item--style::before {
    margin-top: 0;
  }

  .about__item--likes::before {
    margin-top: 0;
    margin-left: 7px;
  }

  .about__item--love::before {
    margin-top: 0;
    margin-left: 1px;
    padding-bottom: 24px;
  }

  .about__item--home::before {
    margin-top: 0;
    margin-left: -8px;
  }

  .about__item--gift::before {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .about__wrapper {
    width: 1150px;
    padding: 0 25px;
  }

  .about__title {
    padding-top: 19px;
    margin-left: 221px;
    font-size: 4.0769rem;
    line-height: 1.08;
  }

  .about__list {
    width: 645px;
    margin-top: -22px;
    margin-left: 226px;
  }

  .about__item {
    padding-bottom: 58px;
    font-weight: bold;
    font-size: 1.5385rem;
    line-height: 1.1;
  }
}
