.card-product {
  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-product__item {
  border: 1px solid @color__white-two;
}

.card-product__link {
  &--picture {
    display: block;
  }

  &--name {
    color: @color__black;
  }
}

.card-product__desc {
  width: 204px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -3px;
}

.card-product__link--name:hover .card-product__name,
.card-product__link--name:focus .card-product__name {
  opacity: 0.6;
}

.card-product__link--name:active .card-product__name {
  opacity: 0.3;
}

.card-product__name {
  .reset-text();
  margin-bottom: 7px;
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.3077rem;
  line-height: 1.41;
}

.card-product__parameters::after {
  content: "";
  display: block;
  width: 204px;
  height: 1px;
  margin-top: 19px;
  margin-bottom: 16px;
  background: @color__white-two;
}

.card-product__parameters {
  .reset-text();
  font-family: @font__normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2.31;
  color: @color__dark-grey;
}

.card-product__order-wrapper {
  position: relative;
}

.card-product__price {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 29px;
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.1538rem;
  line-height: 1.6;
}

.card-product__order-btn {
  position: absolute;
  right: 0;
  bottom: 27px;
}

.card-product__basket-svg {
  opacity: 0.2;
}

.card-product__order-btn:hover .card-product__basket-path,
.card-product__order-btn:focus .card-product__basket-path {
  fill: @color__seafoam-blue;
}

.card-product__order-btn:active .card-product__basket-path {
  fill: @color__seafoam-blue;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .card-product__item {
    display: flex;
  }

  .card-product__link--picture {
    height: 331px;
  }

  .card-product__desc {
    width: 277px;
    margin: 0;
    padding: 18px 29px 64px 26px;
  }

  .card-product__name {
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 1px;
    font-size: 1.5385rem;
    line-height: 1.2;
  }

  .card-product__parameters {
    position: relative;
    margin-top: 0;
    margin-left: 1px;
    font-size: 1.1538rem;
    line-height: 2;

    &::after {
      position: absolute;
      width: 268px;
      left: 7px;
      bottom: -192px;
    }
  }

  .card-product--toys .card-product__parameters {
    &::after {
      bottom: -168px;
    }
  }

  .card-product__price {
    position: absolute;
    left: 5px;
    bottom: -65px;
    font-size: 1.3077rem;
    line-height: 1.41;
  }

  .card-product__order-wrapper {
    position: relative;
    margin-top: 185px;
  }

  .card-product--toys .card-product__order-wrapper {
    margin-top: 165px;
  }

  .card-product__order-btn {
    position: absolute;
    right: 21px;
    bottom: -39px;
  }

  .card-product__basket-svg {
    margin-top: -20px;
    margin-right: -25px;
  }

  .card-product--toys .card-product__name {
    width: 210px;
    margin-top: 1px;
  }
}

@media (min-width: @desktop-width) {
  .card-product__item {
    width: 316px;
    height: 100%;
    margin-bottom: -27px;
    flex-direction: column;
  }

  .card-product__parameters::after {
    width: 258px;
    bottom: -54px;
    left: 0;
  }

  .card-product__order-wrapper {
    margin-top: 73px;
  }

  .card-product__price {
    left: 4px;
    bottom: -42px;
  }

  .card-product--toys .card-product__price {
    bottom: -40px;
  }

  .card-product__basket-svg {
    padding-top: 6px;
    padding-right: 44px;
  }

  .card-product--toys .card-product__desc {
    margin-top: 4px;
    margin-left: -2px;
  }

  .card-product--toys .card-product__order-wrapper {
    margin-top: 52px;
  }

  .card-product--toys .card-product__parameters::after {
    width: 258px;
    bottom: -34px;
    left: 0;
  }

  .card-product--toys .card-product__basket-svg {
    padding-top: 27px;
  }

  .card-product__link {
    &--picture {
      height: 462px;
    }
  }

  .card-product__order-btn {
    right: -2px;
    bottom: -15px;
  }
}
