.copyright {
  display: flex;
  align-items: center;
  min-height: 57px;
  margin-top: 30px;
  margin-bottom: 14px;
}

.copyright__link {
  margin-top: 10px;
  margin-left: 23px;
  margin-right: 17px;
}

.copyright__link:hover .copyright__path,
.copyright__link:focus .copyright__path {
  fill: @color__greeny-lite;
}

.copyright__link:active .copyright__path {
  fill: @color__greeny-lite;
  opacity: 0.3;
}

.copyright__title {
  margin-left: 23px;
}

.copyright__title,
.copyright__title:hover,
.copyright__title:focus {
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.4615rem;
  line-height: 0.95;
}

.copyright__title:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
  }

  .copyright__title {
    margin-left: 0;
  }

  .copyright__link {
    width: 33px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-left: 0;
    margin-right: 51px;
  }

  .copyright__form-footer {
    margin-top: -29px;
  }
}
