.order-mail {
  position: relative;
  width: 255px;
  padding: 0 1px;
  margin: 0 auto;
}

.order-mail__order-title {
  margin-top: -2px;
  margin-bottom: 20px;
  padding-top: 34px;
  line-height: 0.94;
  color: @color__seafoam-blue;
}

.order-mail__order-title::after {
  left: 81px;
  width: 179px;
}

.order-mail__input {
  width: 96%;
  height: 18px;
  padding-bottom: 20px;
  border: none;
  box-shadow: inset 0 -2px 0 0 @color__black;

  &::placeholder {
    color: @color__grey-alfa;
  }
}

.order-mail__icon {
  content: "";
  display: block;
  position: absolute;
  top: 68px;
  right: 13px;
  width: 32px;
  height: 26px;
  mask-image: url("../img/icon-mail.svg");
  background-color: @color__black;
  opacity: 0.2;
}

.order-mail__input:hover,
.order-mail__input:focus,
.order-mail__input:active {
  outline: none;
  box-shadow: inset 0 -2px 0 0 @seafoam-lite;
}

.order-mail__input:hover + .order-mail__icon,
.order-mail__input:focus + .order-mail__icon,
.order-mail__input:active + .order-mail__icon {
  background-color: @seafoam-lite;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .order-mail {
    width: 744px;
    padding: 0 12px;
  }

  .order-mail,
  .order-mail__input {
    background-color: @color__grey;
  }

  .order-mail__input::placeholder,
  .order-wish__text::placeholder {
    padding-left: 20px;
    font-size: 1.4615rem;
    line-height: 0.95;
  }

  .order-mail__input {
    width: 497px;
    height: 60px;
    padding-top: 1px;
    padding-bottom: 0;
  }

  .order-mail__input::placeholder {
    padding-left: 17px;
    line-height: 3.5;
  }

  .order-mail__icon {
    top: 20px;
    right: 60px;
  }

  .order-mail__order-title {
    margin-top: -8px;
    margin-left: 41px;
    margin-right: 109px;
  }
}

@media (min-width: @desktop-width) {
  .order-mail {
    width: 100%;
    padding: 0 1px;
  }

  .order-mail__order-title {
    margin-top: -3px;
    margin-left: 112px;
    margin-right: 59px;
  }

  .order-mail__input {
    width: 696px;
    padding-top: 4px;
  }

  .order-mail__icon {
    top: 23px;
    right: 231px;
  }

  .order-mail__input::placeholder {
    padding-left: 15px;
  }
}
