.page-footer {
  background-color: @color__grey;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 160px;
  width: 320px;
  padding: 0 1px;
  margin: 0 auto;
  margin-top: 2px;
}

.page-footer__logo-wrapper {
  display: none;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 186px;
  .reset-list();
  margin-left: -44px;
}

.page-footer__logo:hover .page-footer__logo-svg,
.page-footer__logo:focus .page-footer__logo-svg,
.social-list__link:hover .social-list__path,
.social-list__link:focus .social-list__path {
  fill: @color__greeny-lite;
}

.page-footer__logo:active .page-footer__logo-svg,
.social-list__link:active .social-list__path {
  fill: @color__greeny-lite;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: baseline;
    width: 744px;
    min-height: 94px;
    padding: 49px 12px 0 12px;
    margin-top: 0;
  }

  .page-footer__logo-wrapper {
    display: block;
    margin-left: 25px;
  }

  .page-footer__logo {
    display: block;
    padding-bottom: 19px;
  }

  .page-footer__logo-image {
    transform: scale(1.2);
  }

  .page-footer__list {
    margin-left: 105px;
    padding-bottom: 14px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1150px;
    padding: 45px 1px 0 1px;
  }

  .page-footer__logo-wrapper {
    margin-left: 24px;
  }

  .page-footer__list {
    margin-left: 281px;
  }
}
